#sponsors h1 {
	text-align: center;
	font-size: 4em;
	color: #452D2C;
}

#sponsors ul {
	list-style: none;
	margin: auto;
}

#sponsors ul li {
	display: inline-block;
	padding: 5px;
}
#sponsors ul li span {
	font-size: 1.2em;
	width: 100%;
	text-align: center;	
}